table{
  color: white;
  border-radius: 10px;
}

th{
  font-size: 20px; font-weight: bold;
}

td{
  font-size: 14px; font-weight: bold;
}

.green{
  background-color: green;
}

.blue{
  background-color: blue;
}

.disabled{
  opacity: 0.5;
  color: red;
}

.orange{
  background-color: orange;
}

.red {
  background-color: red;
}

select{
  width: 200px;
  height: 60px;
  background-color: lightgray;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

.addMatch{
  background-color: white;
  color:#222529;
  font-weight: bold;
  &:hover{
    color: lightgray;
    background-color: #222529;
  }
}

input{
  width: 100px;
  background-color: lightgray;
  font-size: 18px;
  font-weight: bold;
}
