<div class="wrapper">
  <div class="header-title">
    <span class="subtitle" style="margin-top: 40px;">PLAYOFFS</span>
  </div>
  <div class="text-center" style="color:lightgray;margin-top: 20px;">
    <span>BO3 a 21 puntos sin diferencia</span>
  </div>
  <div class="d-flex flex-row header justify-content-around" style="margin-top: 70px;margin-left: -80px;">
    <span class="subtitle c">CUARTOS</span>
    <span class="subtitle s">SEMIS</span>
    <span class="subtitle f">FINAL</span>
    <span class="subtitle master">CAMPEÓN</span>
  </div>
  <div class="cuadro d-flex flex-row">
    <div class="roundOne">
      <div class="container d-flex flex-column">
        <div  (click)="setGanadorTerceroVsSexto(tercero, sexto)" class="bracketOne">
          <span  [ngClass]="{'eliminado': tercero.eliminado === true}" >{{tercero.name}}</span>
        </div>
        <div  (click)="setGanadorTerceroVsSexto(sexto, tercero)"class="bracketOne">
          <span [ngClass]="{'eliminado': sexto.eliminado === true}">{{sexto.name}}</span>
        </div>
      </div>
      <div class="container d-flex flex-column">
        <div (click)="setGanadorCuartoVsQuinto(cuarto, quinto)" class="bracketOne">
          <span [ngClass]="{'eliminado': cuarto.eliminado === true}">{{cuarto.name}}</span>
        </div>
        <div (click)="setGanadorCuartoVsQuinto(quinto, cuarto)" class="bracketOne">
          <span [ngClass]="{'quinto': tercero.eliminado === true}">{{quinto.name}}</span>
        </div>
      </div>
    </div>
    <div class="roundTwo">

      <div class="container d-flex flex-column">
        <div (click)="setGanadorSemifinalUno(ganadorTerceroVsSexto, segundo)" class="bracket"><span [ngClass]="{'eliminado': ganadorTerceroVsSexto.eliminado === true}" *ngIf="ganadorTerceroVsSexto">{{ganadorTerceroVsSexto?.name}}</span></div>
        <div (click)="setGanadorSemifinalUno(segundo, ganadorTerceroVsSexto)" class="bracket"><span>{{segundo.name}}</span></div>
      </div>
      <div class="container d-flex flex-column">
        <div (click)="setGanadorSemifinalDos(ganadorCuartoVsQuinto, primero)" class="bracket"><span  [ngClass]="{'eliminado': ganadorCuartoVsQuinto.eliminado === true}"  *ngIf="ganadorCuartoVsQuinto">{{ganadorCuartoVsQuinto?.name}}</span></div>
        <div (click)="setGanadorSemifinalDos(primero, ganadorCuartoVsQuinto)" class="bracket"><span [ngClass]="{'eliminado': primero.eliminado === true}" >{{primero.name}}</span></div>
      </div>
    </div>
    <div class="roundFinal">

      <div class="container d-flex flex-column">
        <div (click)="setCampeon(ganadorSemifinalUno, ganadorSemifinalDos)" class="bracket"><span [ngClass]="{'eliminado': ganadorSemifinalUno.eliminado === true}"  *ngIf="ganadorSemifinalUno">{{ganadorSemifinalUno.name}}</span></div>
        <div (click)="setCampeon(ganadorSemifinalDos, ganadorSemifinalUno)" class="bracket"><span [ngClass]="{'eliminado': ganadorSemifinalDos.eliminado === true}" *ngIf="ganadorSemifinalDos" >{{ganadorSemifinalDos.name}}</span></div>
      </div>
    </div>
    <div class="champion">

      <div class="container d-flex flex-column">
        <div class="bracket"><span *ngIf="campeon">{{campeon.name}}</span></div>
      </div>
    </div>
  </div>



</div>
