
.wrapper {
  max-width: 100%; /* 20px smaller, to fit the paddings on the sides */

  padding-right: 10px;
  padding-left: 10px;

  .header-title{
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
  }
  .container-general{
    width: 800px
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
}


