<div class="wrapper">
  <div class="header-title">
    <span class="subtitle" style="margin-top: 60px;">PLAYOFFS</span>
  </div>
  <div class="d-flex flex-row header justify-content-around" style="margin-top: 70px;margin-left: -80px;">
    <span class="subtitle c">CUARTOS</span>
    <span class="subtitle s">SEMIS</span>
    <span class="subtitle f">FINAL</span>
    <span class="subtitle master">CAMPEÓN</span>
  </div>
  <div class="cuadro d-flex flex-row">
    <div class="roundOne">
      <div class="container d-flex flex-column">
        <div (click)="setGanadorTerceroVsSexto(tercero)" class="bracketOne">
          <span  >{{tercero.name}}</span>
        </div>
        <div  (click)="setGanadorTerceroVsSexto(sexto)"class="bracketOne">
          <span>{{sexto.name}}</span>
        </div>
      </div>
      <div class="container d-flex flex-column">
        <div (click)="setGanadorCuartoVsQuinto(cuarto)" class="bracketOne">
          <span>{{cuarto.name}}</span>
        </div>
        <div (click)="setGanadorCuartoVsQuinto(quinto)" class="bracketOne">
          <span>{{quinto.name}}</span>
        </div>
      </div>
    </div>
    <div class="roundTwo">

      <div class="container d-flex flex-column">
        <div (click)="setGanadorSemifinalUno(ganadorTerceroVsSexto)" class="bracket"><span *ngIf="ganadorTerceroVsSexto">{{ganadorTerceroVsSexto?.name}}</span></div>
        <div (click)="setGanadorSemifinalUno(segundo)" class="bracket"><span>{{segundo.name}}</span></div>
      </div>
      <div class="container d-flex flex-column">
        <div (click)="setGanadorSemifinalDos(ganadorCuartoVsQuinto)" class="bracket"><span *ngIf="ganadorCuartoVsQuinto">{{ganadorCuartoVsQuinto?.name}}</span></div>
        <div (click)="setGanadorSemifinalDos(primero)" class="bracket"><span>{{primero.name}}</span></div>
      </div>
    </div>
    <div class="roundFinal">

      <div class="container d-flex flex-column">
        <div (click)="setCampeon(ganadorSemifinalUno)" class="bracket"><span *ngIf="ganadorSemifinalUno">{{ganadorSemifinalUno.name}}</span></div>
        <div (click)="setCampeon(ganadorSemifinalDos)" class="bracket"><span *ngIf="ganadorSemifinalDos" >{{ganadorSemifinalDos.name}}</span></div>
      </div>
    </div>
    <div class="champion">

      <div class="container d-flex flex-column">
        <div class="bracket"><span *ngIf="campeon">{{campeon.name}}</span></div>
      </div>
    </div>
  </div>



</div>
