
.wrapper {
  max-width: 100%; /* 20px smaller, to fit the paddings on the sides */

  padding-right: 10px;
  padding-left: 10px;

  .header-title{
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
  }
  .container-general{
    width: 800px
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.cuadro{
  margin-top: 20px;
}

.c{
  margin-left: 20px;
}

.s{
  margin-left: -10px;
}

.f{
  margin-left: -40px;
}

.roundFinal{
  margin-top: 170px;
  margin-right: 145px;
}

.bracket{
  display: flex;
  justify-content: center;
  background-color: #222529;
  border-radius: 5px;
  border: 1px solid lightgray;
  align-items: center;
  vertical-align: middle;
  width: 200px;
  height: 60px;
  margin: 20px;
  span{
    color: white;
    font-size: bold;
    align-self: center;
    vertical-align: middle;
  }
}

.bracketOne{
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  width: 200px;
  height: 60px;
  background-color: #222529;
  border-radius: 5px;
  border: 1px solid lightgray;
  margin: 40px;
  span{
    color: white;
    font-size: bold;
    align-self: center;
    vertical-align: middle;
  }
}

.eliminado{
  text-decoration:line-through;
  background-color: red;
}

.roundOne{
  margin-right: 80px;
}

.roundTwo{
  margin-top: 70px;
  margin-right: 80px;
}

.champion{
 margin-top: 220px;
}
}


